<html>
<body>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>

<header><h1>About Me</h1></header>

<br><br><br><br><br>
<a><img class="displayed" src="/resources/me.jpg" alt="orange border"
        style="width:40%;height:40%px;border:0;">
</a>
<br>

<p>
    I was born and raised on the west side of Cleveland, Ohio.
    I attended Magnificat High School, where my favorite activities were playing on the tennis team
    and competing in Lincoln Douglas debate.
</p>
<br>
<p>
    After graduating from Magnificat in 2013, I began attending The University of Pennsylvania in
    Philadelphia, Pennsylvania. I began Penn as a major in Chemical and Biomolecular Engineering. However,
    by the fall of my Sophomore year, I realized I wanted to change my major to Criminology, as it better
    suited my interests in the studies of law and behavioral psychology.
</p>
<br>
<p>
    Once I had officially changed my major, I decided to also minor in Computer Science. My
    interest in CS was piqued by exposure to programs created by my classmates. I decided I too wanted
    to be able to write code to, well, "do stuff."
</p>
<br>
<p>
    I'm graduating from Penn on May 15th, 2017. Afterward, I plan to spend some time at home in Ohio
    with my parents, Tom and Marina, as well as my brother, Daniel. In early July, I will move to San
     Francisco to pursue a yet-to-be-decided career which I hope will allow me to develop my interests
    in data analysis and behavioral science. Stay tuned for updates!
</p>
<br><br><br><br>
<footer>
    <hr>
    <p>
    <table class="footer" border="0">
        <tr class="floatCenter">
            <td align="center">Created by <br> Sophie Wood</td>
            <td id="goHome" align="center">
                <a href="/">
                    <div class="image">
                        <img class="homeButton" src="resources/orange.png" alt="home button"
                             style="width:60px;height:60px;border:0;"/>
                        <span class="orangeButton">Home
                </span>
                    </div>
                </a>
            </td>
            <td align="center">last updated <br> 4/28/17</td>
        </tr>

    </table>
    </p>
</footer>


<script src="/js/jquery-1.11.3.js"></script>
<script src="/js/indexPage.js"></script>
</body>
</html>