<html>
<body>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>

<header><h1>Sophie Wood</h1></header>
<br><br><br><br><br><br>


<div id="nav">
    <p><a href="/about">ABOUT ME</a></p> <br>
    <p><a href="/resume">RESUME</a></p> <br>
    <p><a href="/whatIveBeenUpTo">WHAT I'VE BEEN UP TO LATELY</a></p> <br>
</div>

<b class="widgets">
    <div class="github-card" data-user="sophwood"></div>
    <script src="http://lab.lepture.com/github-cards/widget.js"></script>
</b>
<br>
<b>
    <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
    <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/sophie-wood-0115a9121"
            data-format="inline" data-related="false"></script>
</b>

<br>

<br><br><br><br>
<footer>
    <hr>
    Created by Sophie Wood <br>
    last updated 4/28/17
</footer>

<script src="/js/jquery-1.11.3.js"></script>
<script src="/js/indexPage.js"></script>
</body>
</html>