<html>
<body>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>

<header><h1>Resume</h1></header>
<br><br><br><br><br>
<h2>Education</h2>
<br>

<a href="http://www.upenn.edu" target="_blank">
    <img class="displayed" src="/resources/penn_logo.png" alt="Penn Logo"
         style="width:218px;height:70px;border:0;">
</a>
<h3>The University of Pennsylvania</h3>
<p>August 2013 - May 2017<br> <br>
    Candidate for a B.A. in Criminology <br>
    and a minor in Computer Science</p>
<br>
<h2>Work Experience</h2>
<a href="http://www.universitycityhousing.com" target="_blank">
    <img class="displayed" src="/resources/UCH_logo.png" alt="UCH Logo"
         style="width:218px;height:87px;border:0;">
</a>
<p>June 2015 - May 2017 <br>
    Leasing Agent</p>
<br>
<a href="http://ssnl.stanford.edu/" target="_blank">
    <img class="displayed" src="/resources/ssnl_logo.png" alt="SSNL Logo"
         style="width:385px;height:100px;border:0;">
</a>
<p>June 2016 - August 2016 <br>
    Research Assistant</p>
<br>
<a href="http://sanfranciscopolice.org/administration#technology" target="_blank">
    <img class="displayed" src="/resources/sfpd_logo.png" alt="SFPD Logo"
         style="width:115px;height:150px;border:0;">
</a>
<p>June 2016 - August 2016 <br>
    IT Intern</p>
<br>
<a href="https://www.med.upenn.edu/gtp/" target="_blank">
    <img class="displayed" src="/resources/psom_logo.svg" alt="PSOM Logo"
         style="width:160px;height:160px;border:0;">
</a>
<p>June 2014 - August 2014 <br>
    Gene Therapy Program: Lab Support Staff</p>
<br>
<h2>Skills</h2>
<br>
<h3>Experienced with:</h3>
<br>
<p>Java, R, Latex, Excel, Outlook, Photoshop</p>
<br>
<h3>Comfortable with:</h3>
<br>
<p>JavaScript, Python, Matlab, Unix, Visio, Citrix, French Language</p>
<br>
<h2>Contact</h2>
<br>
<b href="mailto:sophwood@sas.upenn.edu">
    sophwood@sas.upenn.edu
</b>
<br>
<a><img class="displayed" src="/resources/b2.jpg" alt="orange border"
        style="width:100%;height:20px;border:0;">
</a>
<br>
<a id="link" href="/resources/resume.pdf">View PDF</a>
<br><br><br><br><br>
<footer>
    <hr>
    <p>
    <table class="footer" border="0">
        <tr class="floatCenter">
            <td align="center">Created by <br> Sophie Wood</td>
            <td id="goHome" align="center">
                <a href="/">
                    <div class="image">
                        <img class="homeButton" src="resources/orange.png" alt="home button"
                             style="width:60px;height:60px;border:0;"/>
                        <span class="orangeButton">Home
                </span>
                    </div>
                </a>
            </td>
            <td align="center">last updated <br> 4/28/17</td>
        </tr>

    </table>
    </p>
</footer>

<script src="/js/aesthetics.js"></script>
<script src="/js/jquery-1.11.3.js"></script>
<script src="/js/indexPage.js"></script>
</body>
</html>